# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.local
.env.*.local
venv/
env/
.venv/

# Project Specific
*.html
sent_history.json
*.db
*.db-journal
previews/
templates/*
!templates/
!templates/digest.html
.vscode
.DS_Store
*.pem
frontend/node_modules/
frontend/.next/